LINE_CHANNEL_SECRET=your_line_channel_secret_here
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token_here
GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account.json
SPREADSHEET_ID=your_google_spreadsheet_id_here
